<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminMapper">
	<insert id="contentAddOk" parameterType="com.example.demo.vo.AdminVo">
	  insert into reserve(img,rsdate,sogae,jinhang,rule,inwon,address,rstime,title,jongmok_id, writeday)
	  values(#{img},#{rsdate},#{sogae},#{jinhang},#{rule},#{inwon},#{address},#{rstime},#{title},#{jongmok_id},now())
	</insert>
	
	<select id="memberView" parameterType="com.example.demo.vo.AdminVo">
	  SELECT no, userid, name, pwd, phone, email, writeday, gender, birth
        FROM member
	</select>
	
	<select id="contentCancel" parameterType="com.example.demo.vo.ReserveInfoVo">
	 select reserve_id, user_id, user_name, reserve_no, reserve_date,
	  rs_date, title_info, add_ress, rs_time
	   from reserve_info
	</select>
	
	<delete id="cancelMemberId" parameterType="int">
    DELETE FROM reserve_info WHERE reserve_id=#{reserve_id}
    </delete>

	
 <delete id="banMemberById" parameterType="string">
    DELETE FROM member WHERE userid=#{userid}
</delete>
	
	<insert id="action_write_ok">
		insert into action(title,content,img,writeday,userid)
		values(#{title},#{content},#{img},now(),#{userid})
	</insert>
	
	<select id="action_list">
		select * from action order by no desc
	</select>
	
	<update id="action_readnum">
		update action set readnum=readnum+1 where no=#{no}
	</update>
	
	<select id="action_content" resultType="com.example.demo.vo.ActionVo">
		select * from action where no=#{no}
	</select>
	
	<delete id="action_delete">
		delete from action where no=#{no}
	</delete>
	
	<select id="action_update" resultType="com.example.demo.vo.ActionVo">
		select * from action where no=#{no}
	</select>
	
	<update id="action_update_ok">
		update action set title=#{title},img=#{img},content=#{content} where no=#{no}
	</update>
	
	<insert id="gongjiAddOk" parameterType="com.example.demo.vo.GongjiVo">
	  insert into gongji(title,userid,content,writeday)
	  values(#{title},#{userid},#{content},now())
	</insert>
	
	<select id="list" resultType="com.example.demo.vo.MtmVo">
		select * from mtm order by writeday desc
	</select>
	
	<select id="answer" resultType="com.example.demo.vo.MtmVo">
		select * from mtm where no=#{no}
	</select>
	
<!-- AdminMapper.xml -->
<insert id="questOk" parameterType="com.example.demo.vo.QuestVo">
    <selectKey keyProperty="no" order="AFTER" resultType="int">
        SELECT LAST_INSERT_ID() AS no
    </selectKey>
    insert into quest(content, userid, writeday, questnum) 
    values (#{content}, '관리자', now(), #{no})
</insert>

	
	<update id="seqUp">
		update mtm set seq=1 where no=#{no}
	</update>
	
</mapper>