<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FreeMapper">
  <select id="flist" resultType="com.example.demo.vo.FreeVo">
    select * from free order by no desc limit #{start} , 10
  </select>
  
  <select id="getChong" resultType="int">
     select ceil( count(*)/10 ) from free
  </select>
  
  <insert id="freeadd_ok" parameterType="com.example.demo.vo.FreeVo">
    insert into free (userid,title,content,writeday,pwd)
    values(#{userid},#{title},#{content},now(),#{pwd})
  </insert>
  
  <select id="content" resultType="com.example.demo.vo.FreeVo">
    select * from free where no=#{param}
  </select>
  
  <update id="readnum">
    update free set readnum=readnum+1 where no=#{param}
  </update>
  
  <delete id="delete">
    delete from free where no=#{param}
  </delete>
  
  <select id="free_update" resultType="com.example.demo.vo.FreeVo">
    select * from free where no=#{param}
  </select>
  
  <update id="free_update_ok">
    update free set title=#{title}, userid=#{userid}, content=#{content} where no=#{no}
  </update>
  
  <select id="isPwd" resultType="boolean">
    select count(*) from free where pwd=#{param1} and no=#{param2}
  </select>
</mapper>




