<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.mapper.MypageMapper">
<select id="myinfo" resultType="com.example.demo.vo.MemberVo">
    select * from member where userid=#{userid}
  </select>

  <update id="chgName">
    update member set name=#{name} where userid=#{userid}
  </update>
  <update id="chgPhone">
    update member set phone=#{phone} where userid=#{userid}
  </update>
  <update id="chgEmail">
    update member set email=#{email} where userid=#{userid}
  </update>
  
  <select id="isPwd" resultType="boolean">
    select count(*) from member where userid=#{userid} and pwd=#{pwd}
  </select>
  
  <update id="pwdChange">
    update member set pwd=#{pwd} where userid=#{userid}
  </update>
  

  <!-- 수정된 mtmOk 쿼리 -->
<insert id="mtmOk" parameterType="com.example.demo.vo.MtmVo">
    <selectKey keyProperty="no" order="AFTER" resultType="int">
        SELECT LAST_INSERT_ID() AS no
    </selectKey>
    insert into mtm(title, content,  userid, writeday)
    values (#{title}, #{content}, #{userid}, now())
</insert>
 <insert id="mtmOk2" parameterType="com.example.demo.vo.MtmVo">
    <selectKey keyProperty="no" order="AFTER" resultType="int">
        SELECT LAST_INSERT_ID() AS no
    </selectKey>
    insert into mtm(title, content,  userid, writeday, hide)
    values (#{title}, #{content}, #{userid}, now(), 1)
</insert>
  <select id="inquiry_content" resultType="com.example.demo.vo.MtmVo">
  	 select * from mtm where no=#{questnum}
  </select>
  
  <select id="inquiry_list" resultType="com.example.demo.vo.MtmVo">
  	select * from mtm where userid=#{userid} order by writeday desc
  </select>
  
  <select id="inquiryUpdate" resultType="com.example.demo.vo.MtmVo">
  	select * from mtm where no=#{no}
  </select>
  
  <delete id="inquiryDelete">
  	delete from mtm where no=#{no}
  </delete>
  
  <select id="getQuest" resultType="com.example.demo.vo.QuestVo">
  	select * from quest where questnum=#{questnum}
  </select>
	
  <select id="myreserve" resultType="com.example.demo.vo.ReserveInfoVo">
  	select * from reserve_info where user_id=#{userid} order by reserve_date asc
  </select>
  

  <update id="inquiryUpdateOk" parameterType="com.example.demo.vo.MtmVo">
  	update mtm set title=#{title},content=#{content} where no=#{no}
  </update>
  
  <select id="inquiry_all" resultType="com.example.demo.vo.MtmVo">
		select * from mtm order by writeday desc
  </select>
  
  <select id="inquiry_all_content" resultType="com.example.demo.vo.MtmVo">
  	 select * from mtm where no=#{questnum}
  </select>
  
  <update id="hideUp" parameterType="com.example.demo.vo.MtmVo">
  	 update mtm set hide=hide+1 where no=#{no}
  </update>

  <select id="myjjim" resultType="HashMap">
 	select r.jongmok_id, r.rsdate,r.inwon,r.address,r.rstime,j.no
 	from jjim as j inner join reserve as r on j.no=r.no and userid=#{userid}
 </select>
 
 <delete id="jjimDel">
     delete from jjim where no=#{no}
  </delete>
  
  <delete id="selectDel">
     delete from jjim where no=#{no}
  </delete>
  
  

  </mapper>