<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReserveInfoMapper">
    <insert id="insertReserveInfo" parameterType="com.example.demo.vo.ReserveInfoVo">
        INSERT INTO reserve_info(reserve_id, reserve_no, user_id, user_name, reserve_date, rs_date, title_info, add_ress, rs_time)
        VALUES (#{reserve_id}, #{reserve_no}, #{user_id}, #{user_name}, #{reserve_date}, #{rs_date}, #{title_info}, #{add_ress}, #{rs_time})
    </insert>
    <select id="getReserveById" resultType="com.example.demo.vo.ReserveInfoVo">
        SELECT * FROM reserve_info WHERE reserve_id = #{reserve_id}
    </select>
    
    <select id="inwonCount" resultType="int">
    SELECT COUNT(*) FROM reserve_info WHERE reserve_no = #{no}
</select>

<select id="getReserveInfoByUserId" resultType="com.example.demo.vo.ReserveInfoVo">
    SELECT * FROM reserve_info 
    WHERE user_id = #{userid} AND reserve_no = #{reserveNo}
</select>

</mapper>